
/* For large screen and Mainted descending order */

@media screen and (max-width: 800px) {
    .grid-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For medium screen and Mainted descending order */

@media screen and (max-width: 700px) {
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
 
/* For small screen and Mainted descending order */

@media screen and (max-width: 400px) {

    /* nav response */

    .nav-container {
        flex-direction: column;
    }

    .nav-items-container {
        flex-direction: column;
    }

    .nav-items-container a {
        margin-top: 20px;
    }

    .nav-items-container {
        width: 100%;
        text-align: center;
    }

    .nav-items-container .login-btn {
        width: 100%;
        margin-bottom: 10px;
    }

    /* banner respose */

    .banner-container {
        flex-direction: column;
    }

    .banner-text,
    .banner-image {
        width: 100%;
        margin-bottom: 20px;
    }

    .banner-text h1 {
        font-size: 35px;
    }

    .banner-text p {
        font-size: 25px;
    }

    .fa-brands {
        font-size: 25px;
    }

    .banner-btn {
        margin-left: 20px;
    }

    /* product response */

    .grid-container {
        grid-template-columns: 1fr;
    }


}