/* font family styles  */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');

/* universal & body styles  */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* navbar styles  */

nav {
    background-color: #9376e0;
}

.nav-container {
    /* border: 1px solid red; border niyae kaaj korle bhujha jai  */
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container {
    /* border: 1px solid green; */
    display: flex;
    width: 50%;
}

.logo-container img {
    width: 50px;
    object-fit: cover;
    margin-right: 20px;
}

.logo-container p {
    font-size: 30px;
}

.hive-section {
    color: #e893cf;
}

.nav-items-container {
    width: 50%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.nav-items-container .login-btn {
    background-color: #e893cf;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

/* banner styles */

.banner-container {
    /* border: 1px solid red; */
    max-width: 1400px;
    margin: 50px auto 0;
    min-height: 50px;
    display: flex;
    background-color: #e6e9eb;
    padding: 10px;
    border-radius: 10px;
}

.banner-text {
    /* border: 1px solid green; */
    width: 50%;
    text-align: center;
}

.banner-text h1 {
    background-image: linear-gradient(to bottom, #9376e0, #e893cf);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
}

.banner-text p {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
}

.icon-container {
    /* border: 1px solid orchid; */
    width: 50%;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
}

.banner-image {
    /* border: 1px solid blue; */
    width: 50%;
}

.banner-image img {
    width: 100%;
    height: 100%;
    /* height: auto;  default value */
    border-radius: 10px;
}

.fa-brands {
    font-size: 50px;
}

.banner-btn {
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #9376e0;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

/* products styles */

.grid-container {
    /* border: 1px solid red; */
    display: grid;
    max-width: 1400px;
    margin: 50px auto 0;
    min-height: 400px;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.single-product {
    /* border: 1px solid green; */
    background-color: rgb(230, 233, 235);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.single-product img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.product-icon-name-container {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-icon-name-container span {
    margin-left: 5px;
}

.product-icon {
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
}

.fa-cart-shopping {
    background-color: lightcoral;
}

.fa-credit-card {
    background-color: lightgreen;
}

.fa-eye {
    background-color: lightblue;
}

/* discount styles */

.discount-section {
    background-color: #9376e0;
    margin-top: 50px;
    min-height: 500px;
}

.discount-container {
    /* border: 1px solid red; */
    max-width: 1400px;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 50px 0;
}


.discount-img {
    width: 50%;
    /* border: 1px solid red; */
    position: relative;
}

.discount-img img {
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.discount-number {
    background-color: wheat;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.67rem;
    font-weight: 600;
    position: absolute;
    top: 5%;
    /*  percentage e korsi maneh relative unit use korsi dekhe j kono screen e eki position dekhabe */
    left: 70%;
}

.discount-text {
    width: 50%;
    /* border: 1px solid blue; */
}

.buy-now-btn {
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* user review section styles  */

.user-review-section {
    /* border: 1px solid red; */
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.single-card-review {
    /* border: 1px solid blue; */
    background-color: #e893cf;
    flex-basis: 300px;
    padding: 10px;
    border-radius: 10px;
}

.user-info {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-name {
    font-weight: 600;
    font-size: 1.2rem;
}

.user-info img {
    width: 60px;
    height: 60px;
}

